{
  "variable": {
    "notice": {
      "default": "This file is JSON so that init.py can read it easily"
    }
  },
  "terraform": {
    "required_version": "{{ terraform_version }}",
    "backend": {
      "azurerm": {
        "resource_group_name": "{{ resource_group_name }}",
        "storage_account_name": "{{ storage_account_name }}",
        "container_name": "terraform",
        "key": "{{ key_name }}.terraform.tfstate"
      }
    }
  },
  "provider": {
    "azurerm": {
      "tenant_id": "{{ tenant_id }}",
      "subscription_id": "{{ subscription_id }}",
      "version": "{{ azurerm_version }}"
    }
  }
}
